@model mamNonTuongLaiTuoiSang.Models.GiaoVien

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>GiaoVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="TrinhDoChuyenMon" class="control-label"></label>
                <input asp-for="TrinhDoChuyenMon" class="form-control" />
                <span asp-validation-for="TrinhDoChuyenMon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaoDanhGia" class="control-label"></label>
                <input asp-for="SaoDanhGia" class="form-control" />
                <span asp-validation-for="SaoDanhGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaSt" class="control-label"></label>
                <select asp-for="MaSt" class="form-control" asp-items="ViewBag.MaSt"></select>
                <span asp-validation-for="MaSt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
