@model mamNonTuongLaiTuoiSang.Models.GiaoVien

@{
    ViewData["Title"] = "Index";
    ViewData["GiaoVien"] = Model.MaSt;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="/Content/detail_teacher_remake.css"/>
</head>

<body>
    <div class="container">
        <div class="section">
            <h4>Thông Tin Giáo Viên</h4>
            <hr />
            <dl>
                <div class="row">
                    <dt class="label" id="Masothue">
                        <span class="letterMasothue">M</span>
                        <span class="letterMasothue" style="letter-spacing: 4px;">ã</span>
                        <span class="letterMasothue">S</span>
                        <span class="letterMasothue" style="letter-spacing: 4px;">ố</span>
                        <span class="letterMasothue"> </span>
                        <span class="letterMasothue">T</span>
                        <span class="letterMasothue">h</span>
                        <span class="letterMasothue">u</span>
                        <span class="letterMasothue">ế</span>
                    </dt>
                    <dd class="value">ST002</dd>
                </div>
                <div class="row">
                    <dt class="label" id="Trinhdochuyenmon">
                        <span class="letterTrinhdochuyenmon">T</span>
                        <span class="letterTrinhdochuyenmon">r</span>
                        <span class="letterTrinhdochuyenmon">ì</span>
                        <span class="letterTrinhdochuyenmon">n</span>
                        <span class="letterTrinhdochuyenmon" style="letter-spacing: 4px;">h</span>
                        <span class="letterTrinhdochuyenmon">Đ</span>
                        <span class="letterTrinhdochuyenmon" style="letter-spacing: 4px;">ộ</span>
                        <span class="letterTrinhdochuyenmon">C</span>
                        <span class="letterTrinhdochuyenmon">h</span>
                        <span class="letterTrinhdochuyenmon">u</span>
                        <span class="letterTrinhdochuyenmon">y</span>
                        <span class="letterTrinhdochuyenmon">ê</span>
                        <span class="letterTrinhdochuyenmon" style="letter-spacing: 4px;">n</span>
                        <span class="letterTrinhdochuyenmon">M</span>
                        <span class="letterTrinhdochuyenmon">ô</span>
                        <span class="letterTrinhdochuyenmon">n</span>
                    </dt>
                    <dd class="value">tiến sĩ vật lý</dd>
                </div>
                <div class="row">
                    <dt class="label" id="Sao">
                        <span class="letterSao">S</span>
                        <span class="letterSao">a</span>
                        <span class="letterSao">o</span>
                    </dt>
                    <dd class="value">4.80</dd>
                </div>
                <div class="row">
                    <dt class="label" id="Hovaten">
                        <span class="letterHovaten">H</span>
                        <span class="letterHovaten" style="letter-spacing: 4px;">ọ</span>
                        <span class="letterHovaten">V</span>
                        <span class="letterHovaten" style="letter-spacing: 4px;">à</span>
                        <span class="letterHovaten">T</span>
                        <span class="letterHovaten">ê</span>
                        <span class="letterHovaten">n</span>

                    </dt>
                    <dd class="value">Nguyễn Trần Thanh Nhã</dd>
                </div>
                <div class="row">
                    <dt class="label" id="Namsinh">
                        <span class="letterNamsinh">N</span>
                        <span class="letterNamsinh">ă</span>
                        <span class="letterNamsinh" style="letter-spacing: 4px;">m</span>
                        <span class="letterNamsinh">S</span>
                        <span class="letterNamsinh">i</span>
                        <span class="letterNamsinh">n</span>
                        <span class="letterNamsinh">h</span>
                    </dt>
                    <dd class="value">2004</dd>
                </div>
                <div class="row">
                    <dt class="label" id="Gioitinh">
                        <span class="letterGioitinh">G</span>
                        <span class="letterGioitinh">i</span>
                        <span class="letterGioitinh">ớ</span>
                        <span class="letterGioitinh" style="letter-spacing: 4px;">i</span>
                        <span class="letterGioitinh">T</span>
                        <span class="letterGioitinh">í</span>
                        <span class="letterGioitinh">n</span>
                        <span class="letterGioitinh">h</span>
                    </dt>
                    <dd class="value">Nữ</dd>
                </div>
                <div class="row">
                    <dt class="label" id="Namlam">
                        <span class="letterNamlam">N</span>
                        <span class="letterNamlam">ă</span>
                        <span class="letterNamlam" style="letter-spacing: 4px;">m</span>
                        <span class="letterNamlam">L</span>
                        <span class="letterNamlam">à</span>
                        <span class="letterNamlam">m</span>
                    </dt>
                    <dd class="value">2019</dd>
                </div>
                <div class="row">
                    <dt class="label" id="Email">
                        <span class="letterEmail">E</span>
                        <span class="letterEmail">m</span>
                        <span class="letterEmail">a</span>
                        <span class="letterEmail">i</span>
                        <span class="letterEmail">l</span>
                    </dt>
                    <dd class="value">nha123@gmail.com</dd>
                </div>
                <div class="row">
                    <dt class="label" id="Diachi">
                        <span class="letterDiachi">Đ</span>
                        <span class="letterDiachi">ị</span>
                        <span class="letterDiachi" style="letter-spacing: 4px;">a</span>
                        <span class="letterDiachi">C</span>
                        <span class="letterDiachi">h</span>
                        <span class="letterDiachi">ỉ</span>
                    </dt>
                    <dd class="value">123 đường abc</dd>
                </div>
                <div class="row">
                    <dt class="label" id="Sodienthoai">
                        <span class="letterSodienthoai">S</span>
                        <span class="letterSodienthoai" style="letter-spacing: 4px;">ố</span>
                        <span class="letterSodienthoai">Đ</span>
                        <span class="letterSodienthoai">i</span>
                        <span class="letterSodienthoai">ệ</span>
                        <span class="letterSodienthoai" style="letter-spacing: 4px;">n</span>
                        <span class="letterSodienthoai">T</span>
                        <span class="letterSodienthoai">h</span>
                        <span class="letterSodienthoai">o</span>
                        <span class="letterSodienthoai">ạ</span>
                        <span class="letterSodienthoai">i</span>
                    </dt>
                    <dd class="value">0123456789</dd>
                </div>
                <div class="row">
                    <dt class="label" id="Chucvu">
                        <span class="letterChucvu">C</span>
                        <span class="letterChucvu">h</span>
                        <span class="letterChucvu">ứ</span>
                        <span class="letterChucvu" style="letter-spacing: 4px;">c</span>
                        <span class="letterChucvu">V</span>
                        <span class="letterChucvu">ụ</span>
                    </dt>
                    <dd class="value">hiệu trưởng</dd>
                </div>
                <div class="row">
                    <dt class="label" id="Vitri">
                        <span class="letterVitri">V</span>
                        <span class="letterVitri" style="letter-spacing: 4px;">ị</span>
                        <span class="letterVitri">T</span>
                        <span class="letterVitri">r</span>
                        <span class="letterVitri">í</span>

                    </dt>
                    <dd class="value">trưởng phòng</dd>
                </div>
            </dl>
        </div>
        <div class="footer">
            <a href="#">Edit</a> | 
            <a href="#">Back to List</a>
        </div>
    </div>
    <script src="/Content/detail_teacher_remake.js"></script>

 </body>
