<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Tiết Khóa Học</title>
    <link rel="stylesheet" href="~/Content/chitietkhoahoc.css">
</head>
<body>

    <div class="container">
        <h1>Chi Tiết Khóa Học</h1>
        <div class="course-title">Khóa Học Cấu Trúc Dữ Liệu Và Giải Thuật</div>
        <img src="~/Content/images/ctdlgt.jpg" alt="Khóa Học Lập Trình Web" class="course-image">
        <div class="course-details">
            <span class="course-price">Giá: 1.200.000 VNĐ</span><br>
            <span class="course-duration">Thời gian: 3 tháng</span><br>
            <span class="course-quantity">Số lượng học viên: 30</span>
        </div>
        <div class="description">
            <h2>Mô Tả Khóa Học</h2>
            <p>Khóa học lập trình web cung cấp cho bạn những kiến thức cơ bản và nâng cao về cấu trúc dữ liệu và thuật toán.</p>
            <p>Khóa học này phù hợp cho cả người mới bắt đầu và những người đã có kinh nghiệm muốn nâng cao kỹ năng.</p>
        </div>
        <a href="#" class="button">Đăng Ký Ngay</a>
    </div>

</body>
</html>