<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách thông tin trẻ em</title>
    <link rel="stylesheet" href="~/Content/GiaoDienQuanLyDanhSachTre.css"> <!-- Liên kết với file CSS -->
</head>
<body>
    <div class="card">
            <img src="~/Content/images/nha_ava_fb.jpg" alt="Avatar" class="avatar">
            <div class="info">
                <div class="name">Trẻ Em 2</div>
                <div class="details">Ngày sinh: 01/01/2010</div>
                <div class="details">Lớp: 4A</div>
            </div>
    </div>


    <div class="card">
            <img src="~/Content/images/nha_ava_fb.jpg" alt="Avatar" class="avatar">
            <div class="info">
                <div class="name">Trẻ Em 2</div>
                <div class="details">Ngày sinh: 01/01/2010</div>
                <div class="details">Lớp: 4A</div>
            </div>
    </div>

    <div class="card">
            <img src="~/Content/images/nha_ava_fb.jpg" alt="Avatar" class="avatar">
            <div class="info">
                <div class="name">Trẻ Em 2</div>
                <div class="details">Ngày sinh: 01/01/2010</div>
                <div class="details">Lớp: 4A</div>
            </div>
    </div>

    <div class="card">
            <img src="~/Content/images/nha_ava_fb.jpg" alt="Avatar" class="avatar">
            <div class="info">
                <div class="name">Trẻ Em 2</div>
                <div class="details">Ngày sinh: 01/01/2010</div>
                <div class="details">Lớp: 4A</div>
            </div>
    </div>

    <div class="card">
            <img src="~/Content/images/nha_ava_fb.jpg" alt="Avatar" class="avatar">
            <div class="info">
                <div class="name">Trẻ Em 2</div>
                <div class="details">Ngày sinh: 01/01/2010</div>
                <div class="details">Lớp: 4A</div>
            </div>
    </div>

    <div class="card">
            <img src="~/Content/images/nha_ava_fb.jpg" alt="Avatar" class="avatar">
            <div class="info">
                <div class="name">Trẻ Em 2</div>
                <div class="details">Ngày sinh: 01/01/2010</div>
                <div class="details">Lớp: 4A</div>
            </div>
    </div>
</body>
</html>