<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách thông tin trẻ em</title>
    <link rel="stylesheet" href="~/Content/GiaoDienQuanLyDanhSachTre.css"> <!-- Liên kết với file CSS -->
</head>
<body>
    <audio id="1convit" src="/Content/audios/1convit.mp3" preload="auto"></audio> <!-- Đường dẫn đến tệp âm thanh -->
    <audio id="canhathuongnhau" src="/Content/audios/canhathuongnhau.mp3" preload="auto"></audio> <!-- Đường dẫn đến tệp âm thanh -->
    <audio id="chaulen3" src="/Content/audios/chaulen3.mp3" preload="auto"></audio> <!-- Đường dẫn đến tệp âm thanh -->
    <audio id="chauyeuba" src="/Content/audios/chauyeuba.mp3" preload="auto"></audio> <!-- Đường dẫn đến tệp âm thanh -->
    <audio id="concobebe" src="/Content/audios/concobebe.mp3" preload="auto"></audio> <!-- Đường dẫn đến tệp âm thanh -->
    <audio id="kiaconbuomvang" src="/Content/audios/kiaconbuomvang.mp3" preload="auto"></audio> <!-- Đường dẫn đến tệp âm thanh -->

    <button onmouseover="playSound1()"
            onmouseout="stopSound1()">
        <div class="card">
            <img src="~/Content/images/nha_ava_fb.jpg" alt="Avatar" class="avatar">
            <div class="info">
                <div class="name">Trẻ Em 1</div>
                <div class="details">Ngày sinh: 01/01/2010</div>
                <div class="details">Lớp: 4A</div>
            </div>
        </div>
    </button>

    <button onmouseover="playSound2()"
            onmouseout="stopSound2()">
        <div class="card">
            <img src="~/Content/images/nha_ava_fb.jpg" alt="Avatar" class="avatar">
            <div class="info">
                <div class="name">Trẻ Em 2</div>
                <div class="details">Ngày sinh: 01/01/2010</div>
                <div class="details">Lớp: 4A</div>
            </div>
        </div>
    </button>

    <button onmouseover="playSound3()"
            onmouseout="stopSound3()">
        <div class="card">
            <img src="~/Content/images/nha_ava_fb.jpg" alt="Avatar" class="avatar">
            <div class="info">
                <div class="name">Trẻ Em 3</div>
                <div class="details">Ngày sinh: 01/01/2010</div>
                <div class="details">Lớp: 4A</div>
            </div>
        </div>
    </button>

    <button onmouseover="playSound4()"
            onmouseout="stopSound4()">
        <div class="card">
            <img src="~/Content/images/nha_ava_fb.jpg" alt="Avatar" class="avatar">
            <div class="info">
                <div class="name">Trẻ Em 4</div>
                <div class="details">Ngày sinh: 01/01/2010</div>
                <div class="details">Lớp: 4A</div>
            </div>
        </div>
    </button>

    <button onmouseover="playSound5()"
            onmouseout="stopSound5()">
        <div class="card">
            <img src="~/Content/images/nha_ava_fb.jpg" alt="Avatar" class="avatar">
            <div class="info">
                <div class="name">Trẻ Em 5</div>
                <div class="details">Ngày sinh: 01/01/2010</div>
                <div class="details">Lớp: 4A</div>
            </div>
        </div>
    </button>

    <button onmouseover="playSound6()"
            onmouseout="stopSound6()">
        <div class="card">
            <img src="~/Content/images/nha_ava_fb.jpg" alt="Avatar" class="avatar">
            <div class="info">
                <div class="name">Trẻ Em 6</div>
                <div class="details">Ngày sinh: 01/01/2010</div>
                <div class="details">Lớp: 4A</div>
            </div>
        </div>
    </button>

    <script src="~/Content/GiaoDienQuanLyDanhSachTre.js"></script>
</body>

</html>