@{
    ViewBag.Title = "Danh sách hoạt động ngoại khóa";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div id="hoat-dong-section" style="background-image: url('../../Content/images/anhnhatre.jpg'); background-size: cover; background-position: center; height: auto; display: flex; align-items: center; justify-content: center; color: white; position: relative; width: 100%; border-radius: 30px; overflow: hidden;">
    <div id="hoat-dong-text" style="flex: 1; padding: 20px; background: rgba(0, 0, 0, 0.5); text-align: center;">
        <h1 class="text-6xl font-bold">CÁC ĐỊA ĐIỂM HOẠT ĐỘNG NGOẠI KHÓA CỦA TRƯỜNG</h1>

    </div>
    <div style="display: flex; overflow-x: auto; padding: 20px; max-width: 100%; max-height: 600px;">
        <div class="flex space-x-4">
            <div class="card" id="baotang-chientich" style="background-color: rgba(128, 128, 128, 0.7); padding: 15px; border-radius: 15px; margin: 20px 0; cursor: pointer;">
                <img alt="Bảo tàng chiến tích" class="card-image" src="~/Content/images/baotangchientich.jpg" style="width: 100%; border-radius: 10px;">
                <div class="card-title" style="color: white; margin-top: 10px; text-align: center;">Bảo tàng chiến tích</div>

            </div>
            <div class="card" id="baotang-lstsphcm" style="background-color: rgba(128, 128, 128, 0.7); padding: 15px; border-radius: 15px; margin: 20px 0; cursor: pointer;">
                <img alt="Bảo tàng lịch sử thành phố Hồ Chí Minh" class="card-image" src="~/Content/images/baotanglstphcm.jpg" style="width: 100%; border-radius: 10px;">
                <div class="card-title" style="color: white; margin-top: 10px; text-align: center;">Bảo tàng lịch sử thành phố Hồ Chí Minh</div>

            </div>
            <div class="card" id="ben-nha-rong" style="background-color: rgba(128, 128, 128, 0.7); padding: 15px; border-radius: 15px; margin: 20px 0; cursor: pointer;">
                <img alt="Bến nhà rồng" class="card-image" src="~/Content/images/bennharong.jpg" style="width: 100%; border-radius: 10px;">
                <div class="card-title" style="color: white; margin-top: 10px; text-align: center;">Bến nhà rồng</div>

            </div>
            <div class="card" id="dinh-doc-lap" style="background-color: rgba(128, 128, 128, 0.7); padding: 15px; border-radius: 15px; margin: 20px 0; cursor: pointer;">
                <img alt="Dinh độc lập" class="card-image" src="~/Content/images/dinhdoclap.jpg" style="width: 100%; border-radius: 10px;">
                <div class="card-title" style="color: white; margin-top: 10px; text-align: center;">Dinh độc lập</div>

            </div>

        </div>

    </div>

</div>
@section Scripts {
    <script src="~/Content/NgoaiKhoa.js"></script>
}