@model mamNonTuongLaiTuoiSang.Models.PhuHuynh

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="loader" class="loader">
    Qúa trình này có thể mất vài phút
</div>
<h1>Bổ sung sau</h1>
    