@model mamNonTuongLaiTuoiSang.Models.PhuHuynh
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="loader" class="loader">
    Qúa trình này có thể mất vài phút
</div>
<<<<<<< HEAD
<h1>Bổ sung sau</h1>
=======
<div>say something</div>

<script>
    function removeDisplay() {
        var element = document.getElementById("myElement");
        element.style.removeProperty("display"); // Xóa thuộc tính display
    }
</script>


    
>>>>>>> 9d0ce17c043350eeaee6d212bd87ea050e8088e5
