@model mamNonTuongLaiTuoiSang.Models.ThongBao

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ThongBao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="IdTitle" />

            <div class="form-group">
                <label asp-for="IdTitle" class="control-label"></label>
                <input asp-for="IdTitle" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NgayTao" class="control-label"></label>
                <input asp-for="NgayTao" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <textarea asp-for="NoiDung" class="form-control"></textarea>
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TepDinhKem" class="control-label">Tệp đính kèm</label>
                <input asp-for="TepDinhKem" type="file" class="form-control" />
                <span asp-validation-for="TepDinhKem" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
